{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>VishArtGallery-Radha</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static "assets/img/gallery/fevi.png" %}" rel="icon">
  <link href="{% static "assets/img/gallery/fevi.png"  %}"rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cardo:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static "assets/vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
  <link href="{% static "assets/vendor/bootstrap-icons/bootstrap-icons.css" %}" rel="stylesheet">
  <link href="{% static "assets/vendor/swiper/swiper-bundle.min.css" %}" rel="stylesheet">
  <link href="{% static "assets/vendor/glightbox/css/glightbox.min.css" %}" rel="stylesheet">
  <link href="{% static "assets/vendor/aos/aos.css" %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static "assets/css/main.css"  %}"rel="stylesheet">

 
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center  me-auto me-lg-0">
        <img src="{%  static "assets/img/gallery/logo.png" %} " alt="logo">
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="{% url 'Home' %}" class="active">Home</a></li>
          <li><a href= "{% url 'About' %}">About</a></li>
          <li><a href="{% url 'Gallery' %}">Gallery</a></li>
          <li><a href="{% url 'Services' %}">Services</a></li>
          <li><a href="{% url 'Contact' %}">Contact</a></li>
        </ul>
      </nav><!-- .navbar -->

      <div class="header-social-links">
        <a href="https://www.instagram.com/vish__.yadav782/" target="_blank" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        
        <a href="https://in.pinterest.com/vishartgallery9217/" target="_blank" class="Pinterest"><i class="bi bi-pinterest"></i></i></a>
      </div>
      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header><!-- End Header -->

  <main id="main" data-aos="fade" data-aos-delay="1500">

    <!-- ======= End Page Header ======= -->
    <div class="page-header d-flex align-items-center">
      <div class="container position-relative">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-6 text-center">
            <h2>"Radha"</h2>
            <p> Radha Rani Playing Basuri<br>
                Redhe Radhe....

               
            </p>

            <a class="cta-btn" href="contact.html">Order Yours</a>

          </div>
        </div>
      </div>
    </div><!-- End Page Header -->

    <!-- ======= Gallery Single Section ======= -->
    <center><h1 style="font-family: 'Clicker Script'; color: #3EB489;">"Radha"</h1></center>
    <section id="gallery-single" class="gallery-single">
      <div class="container">

        <div class="position-relative h-100">
          <div class="slides-1 portfolio-details-slider swiper">
            <div class="swiper-wrapper align-items-center">

              <div class="swiper-slide">
                <img src="assets/img/gallery/Radha.jpg" alt="Radha">
              </div>
              <div class="swiper-slide">
                <img src="assets/img/gallery/Radha.jpg" alt="Radha">
              </div>
             
             

            </div>
            <div class="swiper-pagination"></div>
          </div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>

        </div>

        <div class="row justify-content-between gy-4 mt-4">

       <center>   <div class="col-lg-8">
        <div class="portfolio-description">
         <!--Information About the Sketch-->
         <h4>Graphite Sketch</h4>
         <p> This the Graphite media Art of "Radha" from Radhakrushna </p>
        </div>
      </div>
    </center>

         

        </div>

      </div>
    </section><!-- End Gallery Single Section -->
     <!-- ======= Pricing Section ======= -->
     <section id="pricing" class="pricing">
      <div class="container">

        <div class="row gy-4 gx-lg-5">

          <div class="col-lg-6">
            <div class="pricing-item d-flex justify-content-between">
              <h3> Name </h3>
              <h4>"Radha"</h4>
            </div>
          </div><!-- End Pricing Item -->

          <div class="col-lg-6">
            <div class="pricing-item d-flex justify-content-between">
              <h3>Size</h3>
              <h4>A4</h4>
            </div>
          </div><!-- End Pricing Item -->

          <div class="col-lg-6">
            <div class="pricing-item d-flex justify-content-between">
              <h3>Paper</h3>
              <h4>Local Papers 160 GSM</h4>
            </div>
          </div><!-- End Pricing Item -->

          <div class="col-lg-6">
            <div class="pricing-item d-flex justify-content-between">
              <h3>Pencils</h3>
              <h4>apsara  HB,2B,4B</h4>
            </div>
          </div><!-- End Pricing Item -->


        </div>
    </section><!-- End Pricing Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
 <footer id="footer" class="footer">
  <div class="container">
    <div class="copyright">
      &copy; Copyright 2023 <strong><span>VishArtGallery</span></strong>. All Rights Reserved
    </div>
  
  </div>
</footer><!-- End Footer -->

<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<div id="preloader">
  <div class="line"></div>
</div>

<!-- Vendor JS Files -->
<script src="{% static "assets/vendor/bootstrap/js/bootstrap.bundle.min.js" %} "></script>
<script src="{% static "assets/vendor/swiper/swiper-bundle.min.js" %} "></script>
<script src="{% static "assets/vendor/glightbox/js/glightbox.min.js" %} "></script>
<script src="{% static "assets/vendor/aos/aos.js"%} "></script>
<script src="{% static "assets/vendor/php-email-form/validate.js" %} "></script>

<!-- Template Main JS File -->
<script src="{% static "assets/js/main.js"%}"></script>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/642324a64247f20fefe88052/1gskkeau9';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
</body>

</html>