
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>VishArtGallery-Home</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static "assets/img/gallery/fevi.png" %}" rel="icon">
  <link href="{% static "assets/img/gallery/fevi.png"  %}"rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cardo:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static "assets/vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
  <link href="{% static "assets/vendor/bootstrap-icons/bootstrap-icons.css" %}" rel="stylesheet">
  <link href="{% static "assets/vendor/swiper/swiper-bundle.min.css" %}" rel="stylesheet">
  <link href="{% static "assets/vendor/glightbox/css/glightbox.min.css" %}" rel="stylesheet">
  <link href="{% static "assets/vendor/aos/aos.css" %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static "assets/css/main.css"  %}"rel="stylesheet">

 
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center  me-auto me-lg-0">
        <img src="{%  static "assets/img/gallery/logo.png" %} " alt="logo">
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="{% url 'Home' %}" class="active">Home</a></li>
          <li><a href= "{% url 'About' %}">About</a></li>
          <li><a href="{% url 'Gallery' %}">Gallery</a></li>
          <li><a href="{% url 'Services' %}">Services</a></li>
          <li><a href="{% url 'Contact' %}">Contact</a></li>
          <li><a href="{% url 'Login_User' %}">Login</a></li>
        </ul>
      </nav><!-- .navbar -->

      <div class="header-social-links">
        <a href="https://www.instagram.com/vish__.yadav782/" target="_blank" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        
        <a href="https://in.pinterest.com/vishartgallery9217/" target="_blank" class="Pinterest"><i class="bi bi-pinterest"></i></i></a>
      </div>
      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex flex-column justify-content-center align-items-center" data-aos="fade" data-aos-delay="1500"  style="background-image: url({% static "assets/img/gallery/Art-gallery.jpg"%}) ;   ">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 text-center" style="filter: none;">
          
          <h4>Welcome to VishArtGallery</h4>
          <h2>
             <span>save</span> the <span>Memories</span>   with  the
          </h2>
         
          <h1> <span>piece of Art</span> </h1>
          <p>get a portrait of <Span>You  </Span>and <span>Your Loved Ones</span> </p>
          
          <a href="contact.html" class="btn-get-started">Order Your's</a>
        </div>
      </div>
    </div>
  </section><!-- End Hero Section -->

  <main id="main" data-aos="fade" data-aos-delay="1500">

      <!-- ======= Gallery Section ======= -->
      <section id="gallery" class="gallery">
        <div class="container-fluid">
  
          <div class="row gy-4 justify-content-center">
            
            <div class="col-xl-3 col-lg-4 col-md-6">
              <div class="gallery-item h-100">
                <img src="{% static "assets/img/gallery/GIMG1.jpg"%} " class="img-fluid" alt="">
                <div class="gallery-links d-flex align-items-center justify-content-center">
                  <a href="{% static "assets/img/gallery/GIMG1.jpg" %} " title="Gallery 1" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
                  <a href="{% url 'Digital' %} " class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Gallery Item -->
            <div class="col-xl-3 col-lg-4 col-md-6">
              <div class="gallery-item h-100">
                <img src="{% static "assets/img/gallery/GIMG1.3.jpg" %} " class="img-fluid" alt="">
                <div class="gallery-links d-flex align-items-center justify-content-center">
                  <a href="{% static "assets/img/gallery/GIMG1.3.jpg" %} " title="Gallery 2" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
                  <a href="gallery-single-sita.html" class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Gallery Item -->
            <div class="col-xl-3 col-lg-4 col-md-6">
              <div class="gallery-item h-100">
                <img src="{% static "assets/img/gallery/GIMG2.1.jpg" %} " class="img-fluid" alt="">
                <div class="gallery-links d-flex align-items-center justify-content-center">
                  <a href="{% static "assets/img/gallery/GIMG2.1.jpg" %} " title="Gallery 3" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
                  <a href="digital.html" class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Gallery Item -->
            <div class="col-xl-3 col-lg-4 col-md-6">
              <div class="gallery-item h-100">
                <img src="{% static "assets/img/gallery/GIMG2.jpg" %} " class="img-fluid" alt="">
                <div class="gallery-links d-flex align-items-center justify-content-center">
                  <a href="{% static "assets/img/gallery/GIMG2.jpg" %} " title="Gallery 4" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
                  <a href="gallery-single-rashamika.html" class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Gallery Item -->
          
            <div class="col-xl-3 col-lg-4 col-md-6">
              <div class="gallery-item h-100">
                <img src="{% static "assets/img/gallery/madhubala.jpeg" %} " class="img-fluid" alt="">
                <div class="gallery-links d-flex align-items-center justify-content-center">
                  <a href="{% static "assets/img/gallery/madhubala.jpeg" %} " title="Gallery 6" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
                  <a href="gallery-single-madhubala.html" class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Gallery Item -->
            <div class="col-xl-3 col-lg-4 col-md-6">
              <div class="gallery-item h-100">
                <img src="{% static "assets/img/gallery/GIMG4.jpg" %} " class="img-fluid" alt="">
                <div class="gallery-links d-flex align-items-center justify-content-center">
                  <a href="{% static "assets/img/gallery/GIMG4.jpg" %} " title="Gallery 7" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
                  <a href="gallery-single-pranali.html" class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Gallery Item -->
            <div class="col-xl-3 col-lg-4 col-md-6">
              <div class="gallery-item h-100">
                <img src="{% static "assets/img/gallery/dhunuchi nritya shadow crop.jpg" %} " class="img-fluid" alt="">
                <div class="gallery-links d-flex align-items-center justify-content-center">
                  <a href="{% static "assets/img/gallery/dhunuchi nritya shadow crop.jpg" %} " title="Gallery 8" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
                  <a href="gallery-single-dhunuchi.html" class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Gallery Item -->
            <div class="col-xl-3 col-lg-4 col-md-6">
              <div class="gallery-item h-100">
                <img src="{% static "assets/img/gallery/Dimple.jpg" %} " class="img-fluid" alt="">
                <div class="gallery-links d-flex align-items-center justify-content-center">
                  <a href="{% static "assets/img/gallery/Dimple.jpg" %} " title="Gallery 9" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
                  <a href="gallery-single-dimple.html" class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Gallery Item -->
            <div class="col-xl-3 col-lg-4 col-md-6">
              <div class="gallery-item h-100">
                <img src="{% static "assets/img/gallery/Radha.jpg" %} " class="img-fluid" alt="">
                <div class="gallery-links d-flex align-items-center justify-content-center">
                  <a href="{% static "assets/img/gallery/Radha.jpg" %} " title="Gallery 10" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
                  <a href="gallery-single-radha.html" class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Gallery Item -->
            <div class="col-xl-3 col-lg-4 col-md-6">
              <div class="gallery-item h-100">
                <img src="{% static "assets/img/gallery/Disha Paatni (2).jpg" %} " class="img-fluid" alt="">
                <div class="gallery-links d-flex align-items-center justify-content-center">
                  <a href="{% static "assets/img/gallery/Disha Paatni.jpg" %} " title="Gallery 11" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
                  <a href="gallery-single-disha.html" class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Gallery Item -->
            <div class="col-xl-3 col-lg-4 col-md-6">
              <div class="gallery-item h-100">
                <img src="{% static "assets/img/gallery/GIMG3.jpg" %} " class="img-fluid" alt="">
                <div class="gallery-links d-flex align-items-center justify-content-center">
                  <a href="{% static "assets/img/gallery/GIMG3.jpg" %} " title="Gallery 12" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
                  <a href="digital.html" class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Gallery Item -->
          </div>
  
        </div>
      </section><!-- End Gallery Section -->
    <!-- End Gallery Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright 2023 <strong><span>VishArtGallery</span></strong>. All Rights Reserved
      </div>
    
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader">
    <div class="line"></div>
  </div>

  <!-- Vendor JS Files -->
  <script src="{% static "assets/vendor/bootstrap/js/bootstrap.bundle.min.js" %} "></script>
  <script src="{% static "assets/vendor/swiper/swiper-bundle.min.js" %} "></script>
  <script src="{% static "assets/vendor/glightbox/js/glightbox.min.js" %} "></script>
  <script src="{% static "assets/vendor/aos/aos.js"%} "></script>
  <script src="{% static "assets/vendor/php-email-form/validate.js" %} "></script>

  <!-- Template Main JS File -->
  <script src="{% static "assets/js/main.js"%}"></script>
 <!--Start of Tawk.to Script-->
<script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/642324a64247f20fefe88052/1gskkeau9';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
  </script>
  <!--End of Tawk.to Script-->
</body>

</html>